@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Blazored.Toast
@using Blazored.Toast.Configuration;
@using ShareModel
<PageTitle>LV_QLKS_FE</PageTitle>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-solid fa-check"
                WarningIcon="fa fa-exclamation-triangle"
                WarningClass="warning-toast-override"
                ErrorIcon="fa fa-bug" />

<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>
    
    
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <!-- End Font Google -->
    <!-- Library CSS -->
    <link rel="stylesheet" href="/home/css/library/font-awesome.min.css">
    <link rel="stylesheet" href="/home/css/library/bootstrap.min.css">
    <link rel="stylesheet" href="/home/css/library/jquery-ui.min.css">
    
    <!-- End Library CSS -->
    <link rel="stylesheet" href="/home/css/style.css">




<div class="page">
    <main>
        <article class="content px-4">
        <!-- Preloader -->
       <div id="preloader" style="display: @none;">
            <div class="tb-cell">
                <div id="page-loading">
                    <div></div>
                    <p>Đang tải</p>
                </div>
            </div>
        </div>
        <!-- Wrap -->
        <div id="wrap">

            <!-- Header -->
            <Header />
            <!-- End Header -->
            <!--Banner-->
            <section class="banner">

                <!--Background-->
                <div class="bg-parallax bg-1"></div>
                <!--End Background-->

                <div class="container">
                    
                    <div class="logo-banner text-center">
                        <a href="" title="">
                            <img src="/home/images/logo-banner.png" alt="">
                        </a>
                    </div>
                    <!-- Banner Content -->
                    <div class="banner-cn" id="form-banner-cn">

                        <!-- Tabs Cat Form -->
                        <ul class="tabs-cat text-center row">
                        </ul>
                        <!-- End Tabs Cat -->
                        <!-- Tabs Content -->
                        <div class="tab-content">
                            <!-- Search Hotel -->
                        <div class="form-cn">
                            <h2>Bạn muốn tìm khách sạn ở đâu?</h2>
                            <div class="form-search clearfix">
                                <div class="form-field col col-lg-4">
                                    <label for="destination"><span>Điểm đến:</span> Tỉnh/TP, Quận/Huyện</label>
                                    <input @bind=destination type="text" class="field-input">
                                </div>
                                    <div class="form-field">
                                        <div class="row">
                                            <div class="col-md-5">
                                            <RadzenText>Ngày đến</RadzenText>
                                        </div>
                                        <div class="col-md-7">
                                            <RadzenDatePicker Class="w-75" @bind-Value="dayStartFilter" DateFormat="dd/MM/yyyy" Min="DateTime.Now" onkeydown="return false" style="display: block" Change="@DayStartChange" />
                                        </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-5">
                                            <RadzenText>Ngày đi</RadzenText>
                                        </div>
                                        <div class="col-md-7">
                                            <RadzenDatePicker Class="w-75" @bind-Value="dayEndFilter" DateFormat="dd/MM/yyyy" Min="dayStartFilter.AddDays(1)" onkeydown="return false" style="display: block"/>  
                                        </div>
                                        </div>
                                    </div>
                                    <div class="form-field" style="width:20%">
                                        <div class="col">
                                            <RadzenText>Số lượng</RadzenText>
                                            <RadzenNumeric @bind-Value=capacity></RadzenNumeric>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="form-submit">
                                        <div class="col">
                                            <br />
                                            <br />
                                            <RadzenButton Text="Tìm kiếm" ButtonStyle="ButtonStyle.Success"></RadzenButton>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                        </div>
                        <!-- End Search Hotel -->

                        </div>
                        <!-- End Tabs Content -->

                    </div>
                    <!-- End Banner Content -->

                </div>

            </section>
            <!--End Banner-->
            <!-- Sales -->
            <section class="sales">
                <!-- Title -->
                <div class="title-wrap">
                    <div class="container">
                            <div class="travel-title float-left">
                                <h2>Danh sách khách sạn của chúng tôi</h2>
                            </div>
                    </div>
                </div>
                <!-- End Title -->
                <!-- Hot Sales Content -->
                @Body
                <!-- End Travel Destinations -->
                <section class="destinations">

                <!-- Title -->
                <div class="title-wrap">
                    <div class="container">
                        <div class="travel-title float-left">
                            <h2>Danh sách các điểm đến thú vị</h2>
                        </div>
                    </div>
                </div>
                <!-- End Title -->

                <!-- Destinations Content -->
                <div class="destinations-cn">

                    <!-- Background -->
                    <div class="bg-parallax bg-2"></div>
                    <!-- End Background -->
                        <div class="container">
                            <div class="row">
                                <!-- Destinations Filter -->
                                <div class="col-md-4 col-lg-3">
                                    <div class="intro-filter">
                                        <div class="intro">
                                            <p>
                                                <small>Với</small><br>
                                                <span>@provinces.Count</span> Tỉnh/Thành phố
                                            </p>
                                            <p>
                                                <small>Và</small><br>
                                                <span>@hotels.Count</span> khách sạn
                                            </p>
                                        </div>
                                        @*<ul class="filter">
                                            <li class="active">
                                                <a data-toggle="tab" href="#destinations-1"><i class="fa fa-map-marker"></i> Recommendation for you</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#destinations-2"><i class="fa fa-map-marker"></i> Australia &amp; Oceania</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#destinations-3"><i class="fa fa-map-marker"></i> Asia</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#destinations-4"><i class="fa fa-map-marker"></i> Europe</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#destinations-5"><i class="fa fa-map-marker"></i> USA &amp; Canada</a>
                                            </li>
                                            <li>
                                                <a data-toggle="tab" href="#destinations-6"><i class="fa fa-map-marker"></i> The rest of the world</a>
                                            </li>
                                        </ul>*@
                                    </div>

                                </div>
                                <!-- End Destinations Filter -->
                                <!-- Destinations Grid -->
                                <div class="col-md-8 col-lg-9">
                                    <div class="tab-content destinations-grid">
                                        <!-- Tab One -->
                                        <div id="destinations-1" class="clearfix tab-pane fade active in ">
                                            <!-- Destinations Item -->
                                            @if(hotels.Count > 0)
                                            {
                                                foreach (var item in provincesDestination)
                                                {
                                                    <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4">
                                                        <div class="destinations-item ">
                                                            <div class="destinations-text">
                                                                <div class="destinations-name">
                                                                    <a title="">@item.ProvinceName</a>
                                                                </div>
                                                                <span class="properties-nb">
                                                                    <ins>@CountHotelOfProvince(item)</ins> khách sạn
                                                                </span>
                                                            </div>
                                                            <figure class="destinations-img">
                                                                <a href="#" title="">
                                                                    <img src="/images/@GetRandomImageHotelOfProvince(item)" alt="">
                                                                </a>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            <!-- End Destinations Item -->
                                        </div>
                                        <!-- End Tab One -->

                                    </div>
                                </div>
                                <!-- ENd Destinations Grid -->
                            </div>
                        </div>
                    </div>
                    <!-- End Destinations Content -->
                </section>
                <!-- Travel Magazine -->
                <section class="magazine">
                    <!-- Title -->
                    <div class="title-wrap">
                    </div>
                    <!-- End Title -->
                </section>
                </section>
                <!-- End Travel Magazine -->
                <!-- Footer -->
                <Footer />
                <!-- End Footer -->

        </div>
            </article>
    </main>
</div>
@code{
    private IJSObjectReference module;

    //Khai báo các biến
    List<Province> provinces = new List<Province>();
    List<District> districts = new List<District>();
    List<Hotel> hotels = new List<Hotel>();
    List<Ward> wardsDestination = new List<Ward>();
    List<Province> provincesDestination = new List<Province>();

    //Khai báo các service
    ProvinceService provinceService = new ProvinceService();
    DistrictService districtService = new DistrictService();
    HotelService hotelService = new HotelService();
    WardService wardService = new WardService();
    ImageService imageService = new ImageService();

    //Điều kiện lọc
    DateTime dayStartFilter = new DateTime();
    DateTime dayEndFilter = new DateTime();
    private int capacity;
    private string destination = "";

    //Tắt preloading
    private string none = "";


    protected override async Task OnInitializedAsync()
    {
        none = "";
        capacity = 1;
        dayStartFilter = DateTime.Today;
        dayEndFilter = DateTime.Today.AddDays(1);
        provinces = await provinceService.GetAllProvine();
        districts = await districtService.GetAllDistrict();
        hotels = await hotelService.GetAllHotel();
        wardsDestination = await wardService.GetAllWard();
        var wardsDestinationTemp = new List<Ward>();
        foreach (var item in wardsDestination)
        {
            if (item.Hotels.Count > 0)
                wardsDestinationTemp.Add(item);
        }
        //Lấy tỉnh/tp có khách sạn
        foreach (var item in wardsDestinationTemp)
        {
            provincesDestination.Add(provinces.Single(p => p.ProvinceId == item.ProvinceId));
        }
        //Lấy ngẫu nhiên 6 tỉnh/tp
        provincesDestination = provincesDestination.OrderBy(pd => Guid.NewGuid()).Take(6).ToList();
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./Shared/Layout_Hotel.razor.js");
            none = "none";
            StateHasChanged();
        }

    }
    //Thay đổi ngày kết thúc khi ngày bắt đầu thay đổi
    protected void DayStartChange()
    {
        dayEndFilter = dayStartFilter.AddDays(1);
        StateHasChanged();
    }

    protected int CountHotelOfProvince(Province province)
    {
        int res = 0;
        foreach (var item in hotels)
        {
            if (item.Ward.ProvinceId == province.ProvinceId)
                res++;
        }
        return res;
    }
    protected string GetRandomImageHotelOfProvince(Province province)
    {
        string res = "";
        var temp = hotels.Where(h => h.Ward.ProvinceId == province.ProvinceId).ToList()
        .OrderBy(pd => Guid.NewGuid()).Take(1)
        .Select(h=>h.ImageHotels.OrderBy(pd => Guid.NewGuid()).Take(1));
        res = imageService.GetURLImage(temp.First().First().ImageId);
        return res;
    }
}